// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$beig: #bba264;
$rojo: #cb0000;
$verde:#329f00;
$pastel:#a5efe5;
$azulPastel:#b3e8e1;
$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #e1e1e1;
$morado:#77009f;
$marron:#673a0a;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900