@use 'base/variables' as v;

.citas {
    list-style: none;
    padding: 0;
  
    li {
        padding: 1rem;
        margin-bottom: 2rem;
         border: 1px solid v.$blanco;

        p {
            font-weight: v.$bold;
            color: v.$azulPastel;
    
        }

        span,
        .servicio {
            font-weight: v.$regular;
            color: v.$marron;
        }

    }
}
.servicios {
    @extend.citas;
    .acciones{
    margin:0;
    }
    .boton-actualizar, .boton-eliminar {
        margin: 0;
    }
}